body{
    font-family: 'Poppins';
}
.custom-div {
    width: 17%; /* 1/4 dari ukuran */
    height: 100vh; /* Memanjang sampai bawah layar */
    background-color: #16498c;
    float: left; /* Float untuk mengatur posisi */
    margin-left: -15px;
}

.content{
    min-height: 100vh;
    width: 100%;
}

.content-kiri {
    margin-left: 25%; /* Margin untuk menjaga konten di sebelah kanan div */
    padding: 20px;
}

.grid-kiri {
    width: 219px; /* 1/4 dari ukuran */
    height: 100vh; /* Memanjang sampai bawah layar */
    background-color: #16498c;
    float: left; /* Float untuk mengatur posisi */
    /* margin-left: -15px; */
}

.grid-tengah {
    width: 150%; /* 1/4 dari ukuran */
    height: 100vh; /* Memanjang sampai bawah layar */
    background-color: #16498c26;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.grid-kanan {
    width: 50%;
    height: 100vh; /* Memanjang sampai bawah layar */
    float: right;
    background-color: white;
    /* padding: 30px; */
    /* padding-right: 15%; */
    /* padding-left: 10%; */
    /* margin-right: -12px; */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.font {
    position: absolute;
    font-family: 'poppins';
    top: 30px;
    left: 249px;
    font-size: 6;
    font-weight: 140;
    color: #16498c;
}

#shadow {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}

.persegi {
    width: 125px;
    background-color: #16498c;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.persegi2 {
    width: 75px;
    background-color: #16498c;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.card-body {
    background-color: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    height: 449px;
    margin-top: 20px;
}

/* .card-tengah {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 696px;
    height: 449px;
    top: 98px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.card-kanan {
    display: flex;
    z-index: 2; 
    width: 247px;
    height: 449px;
    top: 98px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
} */

.content{
    min-height: 100vh;
    width: 100%;
}

.custom-div2 {
    width: 171%; /* 1/4 dari ukuran */
    height: 100vh; /* Memanjang sampai bawah layar */
    background-color: #16498c26;
    margin-left: -15px;
}

.content{
    min-height: 100vh;
    width: 100%;
}

.custom-div3 {
    margin-left: auto;
    width: 29%; 
    height: 100vh; /* Memanjang sampai bawah layar */
    float: right;
}

.text-biru {
    color: #16498c;
}

.text-kanan {
    text-align: end;
}

.btn-navy {
    background-color: #16498c;
}

.card-login{
    display: flex;
    position: absolute;
    z-index: 2;
    margin-right: 57px; 
    width: 455px; 
    height: 586px; 
    left: 1350px; 
    bottom: 191px;
}
.jarak-kiri{
    margin-left: 15px;
}
.jarak-atas{
    margin-top: 19px;
}