body{
    font-family: 'Poppins';
}

.custom-div {
    width: 17%; 
    height: 100vh; 
    background-color: #16498c;
    float: left; 
    margin-left: -15px;
}

.content{
    min-height: 100vh;
    width: 100%;
}

.content-kiri {
    margin-left: 25%; 
    padding: 20px;
}

.grid-kiri {
    width: 219px; 
    height: 100vh; 
    background-color: #16498c;
}

.grid-tengah {
    width: 150%; 
    height: 100vh; 
    background-color: #16498c26;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.grid-kanan {
    width: 50%;
    height: 100vh;
    float: right;
    background-color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.font {
    position: absolute;
    font-family: 'poppins';
    top: 30px;
    left: 249px;
    font-size: 6;
    font-weight: 140;
    color: #16498c;
}

#shadow {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}

.persegi {
    width: 180px;
    background-color: #16498c;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.persegi2 {
    width: 90px;
    background-color: #16498c;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    background-color: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    height: 449px;
    margin-top: 20px;
}

.card-tengah {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 696px;
    height: 449px;
    top: 98px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.card-kanan {
    display: flex;
    z-index: 2; 
    width: 247px;
    height: 449px;
    top: 98px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.custom-div2 {
    width: 171%; 
    height: 100vh;
    background-color: #16498c26;
    margin-left: -15px;
}

.custom-div3 {
    margin-left: auto;
    width: 29%; 
    height: 100vh; 
    float: right;
}

.text-biru {
    color: #16498c;
}

.text-kanan {
    text-align: end;
}

.card-login{
    display: flex;
    position: absolute;
    z-index: 2;
    margin-right: 57px; 
    width: 455px; 
    height: 586px; 
    left: 1350px; 
    bottom: 191px;
}

.jarak-kiri{
    margin-left: 15px;
}

.jarak-atas{
    margin-top: 19px;
}

.footer-fix {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.exit{
    background-color: #D80001;
    color: #ffffff;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 100px 100px 100px 100px;
    font-size: 20px;
    padding-left: 30px;
    width: 169px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

.sidebar{
    color: #ffffff;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 100px 0px 0px 100px;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    width: 199px;
    margin-top: 10px;
    text-align: start;
    padding-left: 15px;
    display: flex;
    align-items: center; 
}

.sidebar.active{
    background-color: #ffffff;
    color: #16498c;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 199px;
    margin-left: 20px;
    padding-left: 15px;
    display: flex;
    align-items: center; 

}
.utama{
    background-color:#16498c;
    height: 475px;
}
.page {
    display: none;
}
.active-page {
    display: block;
    border-radius: 100px 0px 0px 100px;
    font-size: 20px;
}
.icon-kiri{
    padding-right: 15px;
    font-size: 30px;   
}
.dd-kiri{
    margin-left: 27%;
}
.keluar{
    font-size: 30px;
    padding-right: 15px;
}